doctype html
html
  head
    title Login
    meta(charset="UTF-8")
<<<<<<< HEAD
    link(rel="stylesheet" href=`${baseUrl}/stylesheets/home.css`)
=======
    link(rel="stylesheet" href="/stylesheets/home.css")
>>>>>>> 10c39d84da13070010e5368a87aeb4a6b0015827

  body
    header
      h1 Sign in
    main
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message
<<<<<<< HEAD
      form(action=`${baseUrl}/signin` method="post")
=======
      form(action=`/signin` method="post")
>>>>>>> 10c39d84da13070010e5368a87aeb4a6b0015827
        dl
          dt
            label(for="username") Username:
          dd
            input(type="text" name="username" placeholder="username" value=username)

          dt
            label(for="password") Password:
          dd
            input(type="password" name="password" placeholder="password")

        fieldset.actions
          input(type="submit" value="Sign In")
